/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


/*This is some further normalization and base styles. */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*Here's where you would put your Google Fonts import*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:200,300,400,400i,600,700,900|Source+Serif+Pro:400,600,700');

/*///////////////////////////////////////////////////////////////////////////*/




/*iPhone 7 in landscape*/

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) and (orientation: landscape) {}


/*///////////////////////////////////////////////////////////////////////////*/


/*iPhone 7 in portrait*/

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {
  /* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
  THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
  */
  html {
    box-sizing: border-box;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* END BOX MODEL SETTINGS */
  .text-section {
    width: 300px;
    height: 515px;
    margin: 0 auto;
    padding-left: 67px;
    padding-top: 67px;
  }
  p {
    font-family: 'Open Sans Condensed', serif;
    text-align: justify;
    color: white;
  }
  h1 {
    font-family: 'Open Sans Condensed', serif;
    font-size: 3em;
    color: white;
    position: top center;
    top: 0;
    padding-bottom: 13px;
  }
  .wrap-before {
    shape-outside: polygon(0 0, 0 100%, 100% 100%, 0 50%, 100% 0);
    float: left;
    width: 50%;
    height: 100%;
  }
  .wrap-after {
    shape-outside: polygon(100% 0, 100% 100%, 0% 100%, 100% 50%, 0% 0);
    float: right;
    width: 50%;
    height: 100%;
  }
  a {
    font-family: 'Open Sans Condensed', serif;
    text-align: center;
    display: block;
    color: grey;
  }
  body {
    font-size: 16px;
    /* Base Size */
    /*Setting the base font family*/
    font-family: "Source Sans Pro", Verdana, sans-serif;
    background-color: #bbc2bb;
    margin: 0;
    padding: 0;
  }
  .bg {
    background-image: url("../img/bottom-layer.png"), url("../img/top-layer.png");
    background-position: bottom center, top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 1400px;
    z-index: -1;
  }
  .light-being {
    background-image: url("../img/lotus-being.png");
    background-position: bottom center;
    background-size: auto 3%;
    background-repeat: no-repeat;
    height: 1333px;
    margin-right: 130px;
    padding-right: 50px;
  }
  .background-center {
    margin: 0px auto;
    position: relative;
    /*max-width: 1400px;*/
    background-color: red;
  }
  .moon {
    background-image: url("../img/moon-2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    /*mix-blend-mode: exclusion;*/
  }
  .moon-border {
    background-image: url("../img/moon-border.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    /*mix-blend-mode: exclusion;*/
    z-index: 9000;
  }

  .wolf {
    background-image: url("../img/wolf.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
