/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


/*This is some further normalization and base styles. */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:600');

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  /*background: #000000;*/
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 9999;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*Here's where you would put your Google Fonts import*/



/*///////////////////////////////////////////////////////////////////////////*/



@font-face {font-family: 'Raleway', sans-serif;}
@font-face {font-family: 'Montserrat', sans-serif;}


/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/


html {
  box-sizing: border-box;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */
.text-section {
  position: fixed;
  width: 90vw;
  height: 533px;
  margin: 0 auto;
  top: 0;
  padding-left: 3px;
  padding-top: 33px;
}
p {
  font-family: 'Montserrat';
  font-size: 3.1vw;
  text-align: justify;
  color: white;
  /*background-color: rgba(33, 33, 33, 0.1);*/
}


h1 {
  font-family: 'Montserrat';
  font-size: 2.3em;
  color: rgba(0, 255, 0, 0.6);
  position: relative;
  padding-top: 33px;
  margin-bottom: 0;
  margin-left: 103px;
  /*background-color: rgba(33, 33, 33, 0.3);*/
}
.wrap-before {
  shape-outside: polygon(0 0, 0 100%, 100% 100%, 0 50%, 100% 0);
  float: left;
  width: 50%;
  height: 100%;
}
.wrap-after {
  shape-outside: polygon(100% 0, 100% 100%, 0% 100%, 100% 50%, 0% 0);
  float: right;
  width: 50%;
  height: 100%;
}
a {
  font-family: 'Montserrat';
  text-align: center;
  display: block;
  /*color: grey;*/
}
body {
  font-size: 16px;
  /* Base Size */
  /*Setting the base font family*/
  font-family: "Source Sans Pro", Verdana, sans-serif;
  background-color: rgba(33,33,33,1);
  margin: 0;
  padding: 0;
}
.background-wolf img {
  float: left;
  width: 42%;
  height: auto;
  margin-top: 830%;
  margin-left: 290%;
}
.background-wolf {
  position: bottom;
  top: 0;
  left:0;
  width: 100%;
  height: auto;
  z-index: 9000;
}
.background-4 img {
  float: left;
  width: 100%;
  height: auto;
}
.background-4 {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: auto;
  opacity: 0.2;
  z-index: -1;
}
.background-3 img {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 137.5%;
}
.background-3 {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: auto;
  opacity: 0.25;
  z-index: -1;
}
.background-2 img {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 210%;
}
.background-2 {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: auto;
  opacity: 0.3;
  z-index: -1;
}
.background-1 img {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 236%;
}
.background-1 {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: auto;
  z-index: 10000;
}
.background-clouds img {
  float: left;
  width: 100%;
  height: auto;
  opacity: 0.4;
}
.background-clouds {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  height: auto;
}
.background-center {
  position: relative;
  /*max-width: 1400px;*/
  background-color: #bbc2bb;
}

.container {
  margin-left: 10vw;
}

@media only screen and (max-width: 374px){
  .text-section {
    width: 242px;
    height: 333px;
    margin: 0 auto;
    top: 0;
    padding-left: 3px;
    padding-top: 33px;
  }
  p {
    font-family: 'Montserrat';
    font-size: 5.1vw;
    text-align: justify;
    color: white;
    /*background-color: rgba(33, 33, 33, 0.1);*/
  }
}

@media only screen and (min-width: 850px){
  .background-4 img
    float: left;
    width: 100%;
    height: auto;
  }
  .background-4 {
    position: absolute;
    top: 0;
    left: 10%;
    width: 75%;
    height: auto;
    opacity: 0.2;
    z-index: -1;
  }
  .background-3 img {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 137.5%;
  }
  .background-3 {
    position: absolute;
    top: 0;
    left: 10%;
    width: 75%;
    height: auto;
    opacity: 0.25;
    z-index: -1;
  }
  .background-2 img {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 210%;
  }
  .background-2 {
    position: absolute;
    top: 0;
    left: 10%;
    width: 75%;
    height: auto;
    opacity: 0.3;
    z-index: -1;
  }
  .background-1 img {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 236%;
  }
  .background-1 {
    position: absolute;
    top: 0;
    left: 10%;
    width: 75%;
    height: auto;
    z-index: 10000;
  }
}

/*iPhone 7 in landscape*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  html {
    box-sizing: border-box;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* END BOX MODEL SETTINGS */
  .text-section {
    width: 242px;
    height: 333px;
    margin: 0 auto;
    top: 0;
    padding-left: 3px;
    padding-top: 33px;
  }
  p {
    font-family: 'Raleway';
    font-size: 1.3em;
    text-align: justify;
    color: white;
    /*background-color: rgba(33, 33, 33, 0.1);*/
  }

  p q{
    font-family: 'Raleway';
    font-size: 1.3em;
    text-align: justify;
    color: white;
    padding-left: 133px;
    /*background-color: rgba(33, 33, 33, 0.1);*/
  }
  h1 {
    font-family: 'Raleway';
    font-size: 2.3em;
    color: rgba(0, 255, 0, 0.6);
    position: relative;
    padding-top: 33px;
    margin-bottom: 0;
    margin-left: 103px;
    /*background-color: rgba(33, 33, 33, 0.3);*/
  }
  .wrap-before {
    shape-outside: polygon(0 0, 0 100%, 100% 100%, 0 50%, 100% 0);
    float: left;
    width: 50%;
    height: 100%;
  }
  .wrap-after {
    shape-outside: polygon(100% 0, 100% 100%, 0% 100%, 100% 50%, 0% 0);
    float: right;
    width: 50%;
    height: 100%;
  }
  a {
    font-family: 'Open Sans Condensed', serif;
    text-align: center;
    display: block;
    /*color: grey;*/
  }
  body {
    font-size: 16px;
    /* Base Size */
    /*Setting the base font family*/
    font-family: "Source Sans Pro", Verdana, sans-serif;
    background-color: #bbc2bb;
    margin: 0;
    padding: 0;
  }
  .container{

    min-width: 100%;
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .background-wolf img {
    float: left;
    width: 42%;
    height: auto;
    margin-top: 996px;
    margin-left: 216px;
  }
  .background-wolf {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 9000;
  }
  .background-4 {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    z-index: -9000;
  }
  .background-4 img {
    float: left;
    width: 100%;
    height: auto;
  }
  .background-3 img {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 134%;
  }
  .background-3 {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -9000;
  }
  .background-2 img {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 206%;
  }
  .background-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -9000;
  }
  .background-1 img {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 230%;
  }
  .background-1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -9000;
  }
  .background-clouds img {
    float: left;
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
  .background-clouds {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -9000;
  }
  .background-center {
    position: relative;
    /*max-width: 1400px;*/
    background-color: #bbc2bb;
  }
}


/*///////////////////////////////////////////////////////////////////////////*/


/*iPhone 7 in portrait*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  /* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
  THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
  */
  html {
    box-sizing: border-box;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* END BOX MODEL SETTINGS */
  .text-section {
    width: 242px;
    height: 333px;
    margin: 0 auto;
    top: 0;
    padding-left: 3px;
    padding-top: 33px;
  }
  p {
    font-family: 'Raleway';
    font-size: 1.3em;
    text-align: justify;
    color: white;
    /*background-color: rgba(33, 33, 33, 0.1);*/
  }

  p q{
    font-family: 'Raleway';
    font-size: 1.3em;
    text-align: justify;
    color: white;
    padding-left: 133px;
    /*background-color: rgba(33, 33, 33, 0.1);*/
  }
  h1 {
    font-family: 'Raleway';
    font-size: 2.3em;
    color: rgba(0, 255, 0, 0.6);
    position: relative;
    padding-top: 33px;
    margin-bottom: 0;
    margin-left: 103px;
    /*background-color: rgba(33, 33, 33, 0.3);*/
  }
  .wrap-before {
    shape-outside: polygon(0 0, 0 100%, 100% 100%, 0 50%, 100% 0);
    float: left;
    width: 50%;
    height: 100%;
  }
  .wrap-after {
    shape-outside: polygon(100% 0, 100% 100%, 0% 100%, 100% 50%, 0% 0);
    float: right;
    width: 50%;
    height: 100%;
  }
  a {
    font-family: 'Open Sans Condensed', serif;
    text-align: center;
    display: block;
    /*color: grey;*/
  }
  body {
    font-size: 16px;
    /* Base Size */
    /*Setting the base font family*/
    font-family: "Source Sans Pro", Verdana, sans-serif;
    background-color: #bbc2bb;
    margin: 0;
    padding: 0;
  }
  .container{

    min-width: 100%;
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .background-wolf img {
    float: left;
    width: 42%;
    height: auto;
    margin-top: 996px;
    margin-left: 216px;
  }
  .background-wolf {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 9000;
  }
  .background-4 {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    z-index: -9000;
  }
  .background-4 img {
    float: left;
    width: 100%;
    height: auto;
  }
  .background-3 img {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 134%;
  }
  .background-3 {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -9000;
  }
  .background-2 img {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 206%;
  }
  .background-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -9000;
  }
  .background-1 img {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 230%;
  }
  .background-1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -9000;
  }

  .background-clouds img {
    float: left;
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
  .background-clouds {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -9000;
  }
  .background-center {
    position: relative;
    /*max-width: 1400px;*/
    background-color: #bbc2bb;
  }
}


body {
  overflow: scroll !important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */


/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
